#masthead{

	text-align:center;
	margin-bottom:3rem;

	img{

		margin:1rem auto;
	}

	nav{
	background: #fff;
		a
		{
		background:#eee;
		padding: 1rem 1rem;
		border:1px solid #fff;
		color: #2ba6cb;
	}
	a.donate {
		background: #053c7c;
		color: #fff;
	}
	}
}